# Created by .ignore support plugin (hsz.mobi)
Würde .gitignore löschen
Würde .idea/dictionaries/ löschen
Würde .idea/encodings.xml löschen
Würde .idea/gitNotes.iml löschen
Würde .idea/misc.xml löschen
Würde .idea/modules.xml löschen
Würde .idea/sonarlint/ löschen
Würde .idea/workspace.xml löschen
Würde vendor/ löschen
